* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



footer{
   width: 100vw; 
}


.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:    "first second"
                            "third fourth";
    
    width: 80%;
    margin-top: 3em;
   gap: 2rem;
}


.grid div:nth-child(1){
    min-width: 30%;
    min-height: 300px;
    grid-area: first;
    background-color: lightblue;
}

.grid div:nth-child(2){
    min-width: 30%;
    min-height: 300px;
    grid-area: second;
    background-color: lightcoral;
}

.grid div:nth-child(3){
    min-width: 30%;
    min-height: 300px;
    grid-area: third;
    background-color: lightgreen;
}

.grid div:nth-child(4){
    min-width: 30%;
    min-height: 300px;
    grid-area: fourth;
    background-color: lightsalmon;
}